*{
    margin: 0;
    padding: 0;
}
.header{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background: dodgerblue;
    height: 8vh;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-family: sans-serif;
}
.box1{
    position: relative;
    height: 70vh;
    width: 80vh;
    background: dodgerblue ;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);

    .voltar{
        visibility: hidden;
        position: absolute;
        left: 30px;
        top: 30px;
        width: 100px;
        height: 25px;
    }

    button{
        width: 600px;
        height: 50px;
        background: white;
        color: black;
        font-size: 15px;
        border-radius: 30px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    }

    .tabela{
        visibility: hidden;
        position: absolute;
        padding-bottom: 200px;
        background: floralwhite;
        border-collapse: separate;
        border-spacing: 15px;
        border-radius: 10px;
        font-family: Arial, sans-serif;
    }

    .formulario{
        visibility: hidden;
        position: absolute;
    }
    .resultado_pesquisa{
        width: 420px;
        height: 420px;
        visibility: hidden;
        display: flex;
        overflow: auto;
        border-radius: 10px;
        position: absolute;
        background: floralwhite;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-size: 25px;
    }
    .botao_fechar{
        visibility: hidden;
        position: absolute;
        left: 30px;
        top: 30px;
        width: 100px;
        height: 25px;
    }




}

